.announce-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.announce-container .header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(35,27,181);
    background: linear-gradient(90deg, rgba(35,27,181,1) 0%, rgba(35,134,212,1) 43%, rgba(36,138,218,1) 100%, rgba(0,212,255,1) 100%);
    gap: 10px;
}

.announce-container .header i{
    font-size: 40px;
}



/* <-- add announcement button --> */

.announce-container .announce{
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    gap: 15px;
}

.announce-container .announce button{
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: rgb(36,138,218);
    background: linear-gradient(90deg, rgba(36,138,218,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.announce-container .announce button i{
    font-size: 25px;
}

.announce-container .announce button:hover {
    background: linear-gradient(90deg, rgba(0,212,255,1) 100%, rgba(36,138,218,1) 100%);
    transform: scale(1.05);
}

.announce-container .announce i{
    font-size: 30px;
}