.document-content{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    color: black;
}
/*upload document*/
.document-content .document-upload{
    box-sizing: border-box;
    width: 100%;
    min-width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.document-content .document-upload ul{
    display: flex;
    flex-wrap: wrap;
}

.document-content .document-upload ul li{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.document-content .document-upload ul li h1{
    font-size: 25px;
}

.document-content .document-upload ul li:nth-child(1){
    text-align: center;
}

.document-content .document-upload ul li:nth-child(2),
.document-content .document-upload ul li:nth-child(3){
    width: 50%;
}

.document-content .document-upload ul li:nth-child(2) input,
.document-content .document-upload ul li:nth-child(3) input{
    height: 30px;
    width: 90%;
    border: 1px solid rgba(128, 128, 128, 0.548);
    padding: 5px 10px;
    margin-top: 5px;
    outline: none;
}

.document-content .document-upload ul li:nth-child(4) button{
    width: 98%;
    border: 1px solid rgb(30, 96, 218);
    background-color: rgb(30, 96, 218);
    color: white;
    height: 30px;
    border-radius: 10px;

    cursor: pointer;
}

/*Document history*/
.document-content .document-container{
    box-sizing: border-box;
    width: 100%;
    min-width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.document-content .document-container .document-title h1{
    font-size: 18px;
}
.document-content .document-container .document-title{
    box-sizing: border-box;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.document-content .document-container .document-title ul:nth-child(2) input{
    width: 200px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgba(128, 128, 128, 0.443);
    padding: 0 15px;
}

.document-content .document-container .document-history ul{
    margin-bottom: 20px;
}

.document-content .document-history table tr th{
    border: 1px solid grey;
    text-align: center;
    padding: 10px;
}

.document-content .document-history table tbody tr td{
    padding: 15px;
    text-align: center;
    color: black;
    background-color: rgba(128, 128, 128, 0.514);
}

.document-content .document-history table tbody tr td:nth-child(3) a{
    background: rgb(71, 129, 235);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.document-content .document-history table tbody tr td:nth-child(3) a:hover{
    background-color: green;
}

@media  only screen and (max-width: 942px){
    .document-content .document-upload{
        height: 300px;
    }
    .document-content .document-upload ul{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .document-content .document-upload ul li{
        width: 100%;
    }

    .document-content .document-upload ul li input{
        width: 90%;
    }
}

@media  only screen and (max-width: 660px){
}

@media  only screen and (max-width: 568px){
}

@media  only screen and (max-width: 475px){
}

@media  only screen and (max-width: 375px){
}