.facility-container{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    color: black;
    gap: 20px;
    height: 100vh;
}

.facility-container .facility-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    gap: 40px;
}
/*facility dashboard card*/
.facility-container .facility-card .card{
    box-sizing: border-box;
    min-width: 200px;
    height: 150px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    background-color: #007bff68;
}

.facility-container .facility-card .card:hover{
    background-color: #007bff90;
}

.facility-container .facility-card .card h1 a{
    font-size: 20px;
}

.facility-container .facility-card .card span{
    color: rgb(30, 96, 218);
    font-size: 18px;
}

/*facility inventory*/
.facility-container .facility-inventory{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
}

.facility-container .facility-inventory .facility-navbar{
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    background-color: rgb(30, 96, 218);
    border-radius: 10px;
    margin-bottom: 300px;
}

.facility-container .facility-inventory .facility-navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.facility-container .facility-inventory .facility-navbar ul li{
    box-sizing: border-box;
    padding: 15px 30px;
}

.facility-container .facility-inventory .facility-navbar ul li h3{
    font-size: 12px;
    color: white;
}

.facility-container .facility-inventory .facility-navbar .facility-table-content{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
}

.facility-container .facility-inventory .facility-table-content button{
    border: 1px solid blue;
}

@media  only screen and (max-width: 992px){
    .facility-container .facility-card .card{
        width: 100%;
    }
    .facility-container .facility-card .card h1{
        font-size: 28px;
    }
    .facility-container .facility-card .card span{
        font-size: 25px;
    }
}

@media  only screen and (max-width: 660px){
    .facility-container .facility-card .card{
        width: 100%;
        height: 100px;
    }.facility-container .facility-card .card h1 a{
        font-size: 20px;
    }
    .facility-container .facility-card .card span{
        font-size: 20px;
    }
}

@media  only screen and (max-width: 568px){
}

@media  only screen and (max-width: 475px){
}

@media  only screen and (max-width: 375px){
}