.legal-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
    color: black;
    gap: 50px;
}

/*Quick Access Navigation Bar*/

.legal-content .legal-navigation{
    box-sizing: border-box;
    width: 100%;
    min-width: 400px;
    height: auto;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    padding: 50px;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

    position: relative;
}


.legal-content .legal-navigation .title{
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.legal-content .legal-navigation a .card{
    width: 200px;
    height: 100px;
    background-color: rgb(30, 96, 218);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}

.legal-content .legal-navigation a .card i{
    font-size: 50px;
}

/*Legal graph status*/

.legal-content .legal-chart1{
    width: 300px;
    height: 400px;
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 10px;
}
.legal-content .legal-chart1 ul li{
    list-style: none;
    padding: 5px 0;
    width: 100%;
    display: flex;
}
.legal-content .legal-chart1 ul li span{
    display: block;
    height: 15px;
    width: 15px;
    padding-right: 5px;
}
.legal-content .legal-chart1 ul li:nth-child(1) span{
    background-color: rgba(65, 53, 235, 0.623);
}
.legal-content .legal-chart1 ul li:nth-child(2) span{
    background-color: rgba(187, 61, 23, 0.658);
}
.legal-content .legal-chart1 ul li:nth-child(3) span{
    background-color: rgba(12, 107, 55, 0.596);
}
.legal-content .legal-chart1 ul li:nth-child(4) span{
    background-color: rgba(112, 52, 209, 0.541);
}
.legal-content .legal-chart1 ul li:nth-child(5) span{
    background-color: rgba(187, 96, 22, 0.589);
}
.legal-content .legal-chart2{
    width: 600px;
    height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 10px;

    overflow: auto;
}
@media  only screen and (max-width: 942px){
}

@media  only screen and (max-width: 660px){
}

@media  only screen and (max-width: 568px){
}

@media  only screen and (max-width: 475px){
}

@media  only screen and (max-width: 375px){
}