.login-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../Asset/loginbackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
}

.login-container form{
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container form label{
    font-weight: bold;
    padding-right: 110px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-container form input{
    border: none;
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px 10px;
    outline: none;
}

.login-container form button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(8, 61, 160);
    color: white;
    cursor: pointer;
    border: 1px solid rgb(80, 80, 243);
}

.login-container #response-message{
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    top: 0%;
    margin-top: 50px;
}