.sidebar2{
    box-sizing: border-box;
    height: 100vh;
    padding: 5px 1em;
    border-right: 1px solid rgb(233, 230, 230);

    overflow: auto;

    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
}

.sidebar2::-webkit-scrollbar{
    display: none;
}

.sidebar2 ul{
    list-style: none;
}

.sidebar2 > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.sidebar2 ul li.active a{
    color: rgb(30, 78, 139);
    i{
        fill: rgb(30, 78, 139);
    }
}

.sidebar2 a, .sidebar2 .dropdown-btn{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1em;
    color: black;
}

.dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;
    font: inherit;
    cursor: pointer;
    border: none;
}

.sidebar2 a span, .sidebar2 .dropdown-btn span{
    flex-grow: 1;
}

.sidebar2 a:hover, .sidebar2 .dropdown-btn:hover{
    background-color: rgba(105, 98, 98, 0.336);
}

.sidebar2 .sub-menu{
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    > div{
        overflow: hidden;
    }
}

.sidebar2 .sub-menu.show{
    grid-template-rows: 1fr;
}

.dropdown-btn i{
    transition: 200ms ease;
}

.rotate i:last-child{
    rotate: 90deg;
}

.sidebar2 .sub-menu{
    padding-left: 2em;
}

.sidebar2 ul li .Logo{
    position: relative;
    left: -20px;
}

#toggle-btn{
    position: absolute;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.sidebar2 .Logo #toggle-btn i{
    font-size: 20px;
}

@media  only screen and (max-width: 660px){
    .main-content{
        width: 100vw;
    }

    .sidebar2 ul{
        line-height: 10px;
    }

    .sidebar2 ul li{
        display: block;
        border-radius: 10px;
        width: 80%;
        background-color: #f3f3f3;
        margin-bottom: 10px;
    }

    .sidebar2{
        z-index: 1;
        background-color: white;
        position: absolute;
        display: block !important;
        width: 100%;
        padding-top: 50px;
        padding-left: 130px;
    }

    .sidebar2 .Logo img{
        display: none;
    }
    .sidebar2 li:nth-child(1){
        background: none;
    }
}

@media  only screen and (max-width: 475px){
    .sidebar2{
        padding-left: 60px;
    }
}